* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
}

.background {
  width: 100%;
  height: 100vh;
  background-color: #ed145b;
}

.title {
  width: 100%;
  font-size: 2em;
  text-align: center;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
  justify-content: center;
}

.button {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.button-primary {
  background-color: #564ab1;
  color: white;
}

.margin-right {
  margin: 0 0 0 auto;
}

.swal2-html-container {
  margin: 20px 0;
}

.input-group {
  width: 100%;
}

label {
  display: block;
}

input, select {
  max-width: 200px;
  width: 100%;
  height: 20px;
  padding: 5px;
  margin: 10px 0 10px 30px;
}

select {
  height: 34px;
}
