<template>
  <div class="wrapper">
    <div class="header">
      <p class="title">To Do List</p>
    </div>
    <div class="body">
      <div class="head d-flex">
        <div class="task-number d-flex align-center">#</div> 
        <div class="task-title d-flex align-center">Title</div>
        <div class="task-status d-flex align-center">Status</div>
        <div class="task-actions d-flex align-center">Actions</div>
      </div>

      <div class="item d-flex align-center" v-for="(row, index) in items" :key="index">
        <div class="number">{{row.id}}</div>
        <p :title="row.title">{{ row.title.length > 120 ? row.title.substring(0, 120) + '...' : row.title }}</p>
        <div class="status" :class="row.status">{{row.status}}</div>
        <div class="actions d-flex align-center">
          <a class="button" @click="editTask(row)">Edit</a>
          <a class="button" @click="deleteTask(row)">Delete</a>
        </div>
      </div>
    </div>
    <div class="footer d-flex align-center">
      <a class="button button-primary margin-right" @click="showForm">Add Task</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'to-do-list',
  components: {

  },
  props: ['data'],
  data() {
    return {
      token: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
      url: '/api/',
      items: [],
      editing: {},
    };
  },
  methods: {
    showForm(newTask = true) {
      let title = newTask ? '' : this.editing.title;
      let status = newTask ? 'pending' : this.editing.status;

      this.$swal({
        title: newTask ? 'Create new Task' : 'Editing Task',
        html: `
          <div class="input-group">
            <label for="title">
              Title
              <input id="title" name="title" type="text" maxlength="255" placeholder="Take the trash out" value="${title}" required/>
            </label>
          </div>
          <div class="input-group">
            <label for="status">
              Status
              <select id="status" name="status">
                <option value="pending" ${status == 'pending' ? 'selected' : ''}>Pending</option>
                <option value="completed" ${status == 'completed' ? 'selected' : ''}>Completed</option>
              </select>
            </label>
          </div>
        `,
        showCancelButton: false,
        confirmButtonText: 'Save',
        showCloseButton: true,
        preConfirm: () => {
          const title = this.$swal.getPopup().querySelector('#title').value;
          const status = this.$swal.getPopup().querySelector('#status').value;

          if (!title || !status) {
            this.$swal.showValidationMessage(`Title must have a value`);
          }

          return { title: title, status: status }
        }
      }).then((result) => {
        if(!result.dismiss) {
          this.editing.status = result.value.status;
          this.editing.title = result.value.title;

          let aux = newTask ? 'create' : 'update';
          this.sendData(aux);
        }
      });
    },
    editTask(item) {
      this.editing = item;

      this.showForm(false);
    },
    deleteTask(item) {
      this.editing = item;

      this.$swal.fire({
        title: 'Deleting Task',
        icon: 'warning',
        text: 'You really want to delete this task?',
        showCancelButton: true,
        showCloseButton: true,
        showConfirmButton: true
      }).then((result) => {
        if(result.value) {
          this.sendData('delete');
        }
      });
    },
    updateItemsList(action = null) {
      let list = this.items;

      let obj = { id: this.editing.id, title: this.editing.title, status: this.editing.status }

      if(action == 'create') {
        list.push(obj);
      }
      
      if(action == 'update') {
        let index = list.findIndex((x) => x.id == this.editing.id);
        list[index] = obj;
      }

      if(action == 'delete') {
        list = list.filter((x) => x.id !== this.editing.id);
      }

      this.items = list;
    },
    async sendData(action) {
      let method = action == 'create' ? 'POST' : action == 'update' ? 'PUT' : 'DELETE';

      await fetch(this.url, {
        method: method,
        headers: { 
          'content-type': 'application/json',
          'X-CSRF-TOKEN': this.token
        },
        body: JSON.stringify({
          id: this.editing.id,
          title: this.editing.title,
          status: this.editing.status
        })
      })
      .then((resp) => resp.json())
      .then((data) => {
        let interval = 1500;
        this.$swal.fire({
          title: data.message,
          icon: data.error ? 'error' : 'success',
          timer: interval,
          timerProgressBar: true,
          showCancelButton: false,
          showCloseButton: true,
          showConfirmButton: false,
          didOpen: () => {
            this.$swal.showLoading();
          },
          willClose: () => {
            clearInterval(interval);
          }
        });

        if(!data.error) {
          this.editing.id = data.obj.id;
          this.updateItemsList(action);
        }
      });
    },
    async refreshToken() {
      let context = this;

      fetch(window.location.origin + "/refresh-csrf", {
        method: 'GET'
      }).then((resp) => resp.text()).then(function (data) {
        context.token = data;
      });

      
    }
  },
  computed: {

  },
  mounted() {
    this.items = this.data;

    setInterval(() => {
      this.refreshToken();
    }, 1000 * 60 * 10); 
  }
};
</script>

<style scoped lang="scss">
.wrapper {
  padding: 30px;
  background-color: white;
  width: 60%;
  height: 70%;
  margin: auto;
  border: none;
  border-radius: 10px;
  .header {
    height: 15%;
  }
  .body {
    height: 70%;
    background-color: #e4e6eb;
    overflow-y: auto;
    overflow-x: hidden;
    .head {
      padding: 10px;
      flex-wrap: nowrap;
      .task-number {
        width: 30px;
        font-weight: bolder;
        font-size: 1.5em;
      }
      .task-title {
        font-weight: bolder;
        font-size: 1.5em;
        width: 100%;
      }
      .task-status {
        font-weight: bolder;
        font-size: 1.5em;
      }
      .task-actions {
        font-weight: bolder;
        font-size: 1.5em;
        width: 20%;
      }
    }
    .item {
      width: 100%;
      padding: 10px;
      flex-wrap: nowrap;
      .number {
        width: 30px;
        text-align: center;
      }
      p {
        width: 100%;
      }
      .status {
        padding: 5px 10px;
        border-radius: 5px;
        max-width: 100px;
        font-size: 1.2em;
        color: white;
        &.pending {
          background-color: #dc3545;
        }
        &.completed {
          background-color: #22d14e;
        }
      }
      .actions {
        width: 20%;
        .button {
          padding: 5px 10px;
          margin: 0 10px;
        }
      }
    }
  }
  .footer {
    height: 15%;
  }
  
  
}
</style>